@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Raleway:wght@300;400;500;600;700&display=swap');


:root {
    --black: #000;
    --light-blue: #D9ECF6;
    --light-brown: #cc5c10;
    --white: #FFF;
    --playfair: playfair display, serif;
    --montserrat: montserrat, sans-serif;
    --raleway: raleway, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--montserrat);
}