
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    line-height: 1.5;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

img {
    object-fit: cover;
}

@media all and (min-width: 1280px){
    .container {
        max-width: 1176px;
        margin: auto;
    }
}

/* Fonts */
.h4, h4 {
    font-size: 24px;
    line-height: 32px;
}
.h5, h5 {
    font-size: 20px;
    line-height: 28px;
}
.h6, .regular-body, h6 {
    font-size: 16px;
    line-height: 24px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #313140;
    font-weight: 700;
}
.small-secondary {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.tiny-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.speech-italic {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}