
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    line-height: 1.5;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

img {
    object-fit: cover;
}

@media all and (min-width: 1280px){
    .container {
        max-width: 1176px;
        margin: auto;
    }
}

/* Fonts */
.h4, h4 {
    font-size: 24px;
    line-height: 32px;
}
.h5, h5 {
    font-size: 20px;
    line-height: 28px;
}
.h6, .regular-body, h6 {
    font-size: 16px;
    line-height: 24px;
}
.regular-body {
    font-weight: 500;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #313140;
    font-weight: 700;
}
.small-secondary {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.tiny-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.speech-italic {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.break-words {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.truncate-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
}

.text-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

/* Form */
.ant-form-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    color: #515164;
    font-size: 14px;
    font-variant: normal;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    margin: 0 0 16px;
    vertical-align: top;
}

.ant-form-item-control-input {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 40px;
}

.ant-form-item-control-input-content {
    -ms-flex: auto;
    flex: auto;
    max-width: 100%;
}

.ant-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8px 12px;
    color: #515164;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e8ed;
    border-radius: 8px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-variant: normal;
    list-style: none;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8px 12px;
    color: #515164;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e8ed;
    border-radius: 8px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.ant-input.border-red{
    border-color: rgb(211 56 47);
}

.ant-input-affix-wrapper>input.ant-input {
    padding: 0;
    border: none;
    outline: none;
}
.max-w-grid-8 {
    max-width: 768px;
}

.edit-icon:hover {
    filter: brightness(0) saturate(100%) invert(17%) sepia(12%) saturate(1066%) hue-rotate(201deg) brightness(92%) contrast(89%);
}